<div>
    <div class="login-form">
        <h1>
            Login
        </h1>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <input formControlName="username" type="text" placeholder="Username" required>
            <input formControlName="password" type="password" placeholder="Password" autocomplete="on" required>
            <div class="actions">
                <button class="btn-stroke" (click)="getRandomUser()" type="button">Get random user</button>
                <button class="btn-fill" [disabled]="loginForm.invalid" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

<div class="error" *ngIf="error">
    <ng-container *ngIf="!errorGettingFakeUser">
        <h1>
            {{ error.status }}
        </h1>
        <p>
        <p>
            {{error.error.message}}
        </p>
    </ng-container>
    <ng-container *ngIf="errorGettingFakeUser">
        <h1>
            Error
        </h1>
        <p>
            Oops, there seems to have been an issue while requesting "https://dummyjson.com". In order to ensure continued
            login functionality, the username and password have been temporarily set to "error".
        </p>
    </ng-container>
</div>

